<%- include ('partials/header') %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome to Hotel-Reviews</h1>
        <p>Review The best Hotels</p>
       <p>
        <a class="btn btn-primary" href="/hotels/new">Add a new Hotel</a>
       </p>
      </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% resturants.forEach(function(resturant){%>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail" style="height: 360px;">
                        <div class="img_style"><img classs="img-responsive " src="<%=resturant.image%>"></div>
                        <div class="caption" style="text-transform: capitalize;">
                            <h4><%= resturant.name %></h4>
                        </div>
                        <p>
                            <a href="/hotels/<%=resturant._id %>" class="btn btn-primary">More Info...</a>
                        </p>
                    </div>
                        </div>
                    
               
           <%});%> 
    </div>

</div>



   <% -include ('partials/footer') %>