.thumbnail img{
    width:100%;
}
.thumnail {
    padding:0;
}
.thumnail .caption-full{
    padding: 9 px;
}
#delete-form {
    display: inline;
}
body{
    font-family: 'Alata', sans-serif;

    font-family: 'Nanum Gothic', sans-serif;
}
.comment{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-align: justify;    
}
.comment p{
    margin: 10px 0px 10px 0px;
}
.button {
    color: black;
    margin: 10px;
}
.post{
    line-height: 1.5;
    text-align: center;
}
.post p{
    text-align: justify;
    padding: 10px;
}

.img_style{
    height: 223px;
    size: 100% 100%;
    
}
.img_style img{
    height: inherit;
    size: 100% 100%;
}
.caption h4{
    text-transform: capitalize;
}


/* .navbar-header{
    float: left;
} */
/* .navbar{
    border-radius: 4px;
    margin: 1px 1px 25px;
    background-color:rgb(39 45 87);
    
} */
/* .navbar-brand{
    color: white;
    background: white;
} */
.navbar{
    float: left;
}
/* .nav-elements{
    float: right;
    
} */
/* .navbar ul{
    list-style: none;
    float: right;
}
ul li{
    float: left;
    margin: 2px 5px;
} */
.navigation-bar{
    background-color:#484848;
    margin-bottom: 50px;
    border-radius: 4px;
    margin:4px 4px 31px 4px
    
}
ul li {
    list-style: none;
    margin: 10px 10px 10px 5px;
    
    
    
}

ul li a{
    color:white;
    margin: 0 10px;
    font-size: 17px;
}
ul li a:hover{
    /* background-color: white             ; */
    color: #fbc531;
    text-decoration:none;
}
.elements{
    float: right;
    /* margin:5px 5px 5px 5px; */
}
.btn-primary{
    color:white;
    background-color: black;
    /* border-color: #2e6da4; */
    border-radius: 8px;
    font-size: 13px;
    transition: 0.3s;
}

.btn-primary:hover{
    color:   #fbc531;
    background-color: black;
    
}
#logo{
    float: left;
    margin: 11px 13px;
    margin: 12px 7px 7px 11px;
    background: ghostwhite;
    height: 25px;
    width: 30px
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
    color: #fbc531;
}
