.thumbnail img{
    width:100%;
}
.thumnail {
    padding:0;
}
.thumnail .caption-full{
    padding: 9 px;
}
#delete-form {
    display: inline;
}
body{
    font-family: 'Alata', sans-serif;

    font-family: 'Nanum Gothic', sans-serif;
}
.comment{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-align: justify;    
}
.comment p{
    margin: 10px 0px 10px 0px;
}
.button {
    color: black;
    margin: 10px;
}
.post{
    line-height: 1.5;
    text-align: center;
}
.post p{
    text-align: justify;
    padding: 10px;
}

.img_style{
    height: 223px;
    size: 100% 100%;
    
}
.img_style img{
    height: inherit;
    size: 100% 100%;
}
.caption h4{
    text-transform: capitalize;
}




