.thumbnail img{
    width:100%;
}
.thumnail {
    padding:0;
}
.thumnail .caption-full{
    padding: 9 px;
}
#delete-form {
    display: inline;
}
body{
    font-family: 'Alata', sans-serif;

    font-family: 'Nanum Gothic', sans-serif;
}
.comment{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-align: justify;
    
}
.button {
    color: black;
    margin: 10px;
}
.post{
    line-height: 1.5;
    text-align: center;
}